
.ipynb_checkpoints/Kicker Oracle- models-checkpoint.ipynb
.ipynb_checkpoints/Kicker Oracle-checkpoint.ipynb
.ipynb_checkpoints/Kicker Oracle-checkpoint.ipynb
.ipynb_checkpoints/Kicker Oracle-checkpoint.ipynb
.ipynb_checkpoints/Kicker Oracle-Raw Data-checkpoint.ipynb
.ipynb_checkpoints/Kicker Oracle-checkpoint.ipynb
.ipynb_checkpoints/Kicker Oracle_Yotam-checkpoint.ipynb
